{% extends 'header.html' %}
{% block body %}
{% load static %}

	<!-- banner -->
	<div class="banner-agile-2">
		<!-- navigation -->
		<div class="navigation-w3ls">
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item">
							<a class="nav-link text-white" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="about">About Us</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Courses
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="language">Language</a>
								<a class="dropdown-item" href="communication">Communication</a>
								<a class="dropdown-item" href="business">Business</a>
								<a class="dropdown-item" href="software">Software</a>
								<a class="dropdown-item" href="social_media">Social Media</a>
								<a class="dropdown-item" href="photography">Photography</a>
								<a class="dropdown-item" href="course_details">Course Details</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="form">Apply Now</a>
							</div>
						</li>
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pages
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="about">Instructors</a>
								<a class="dropdown-item" href="index">What We Do</a>
								<a class="dropdown-item" href="login">Login</a>
								<a class="dropdown-item" href="register">Register</a>
								<a class="dropdown-item" href="404">404 Page</a>
								<a class="dropdown-item" href="coming_soon">Coming Soon</a>
								<a class="dropdown-item" href="form">Admission Form</a>
								<a class="dropdown-item active" href="faq">Faq</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="blog">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="gallery">Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="contact">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- //navigation -->
	</div>
	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Faqs</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- //banner -->

	<!-- faqs -->
	<div class="faq-w3l py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">faqs
				<span class="font-weight-bold"></span>
			</h3>
			<div class="faq-info pt-md-4">
				<h3 class="w3-head text-dark">Top 10 Frequently asked questions</h3>
				<div class="faq-w3agile">
					<ul class="faq pl-sm-4 pl-3">
						<li class="item1 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor vehicula ipsum nec ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
										At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
										corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item2 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">The standard Lorem Ipsum passage Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p> Tincidunt ut laoreet dolore At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
										nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus
										qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
										cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item3 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Consectetuer adipiscing elit Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>Dincidunt ut laoreet dolore At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
										nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus
										qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
										cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item4 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Sed diam nonummy nibh euismod Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer
										adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
										voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item5 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Euismod tincidunt laoreet Etiam faucibus viverra libero vel efficitur ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer
										adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
										voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item6 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Voluptas sit aspernatur aut Ut semper nisl ut laoreet ultrices ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer
										adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
										voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item7 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Donec ut quam ligula feugiat Ut semper nisl ut laoreet ultrices ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer
										adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
										voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item8 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">The standard Lorem Ipsum Ut semper nisl ut laoreet ultrices passage ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>Lorem ipsum dolor sit amet At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
										nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus
										qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
										cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item9 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Consectetuer adipiscing Ut semper nisl ut laoreet ultrices elit ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>Lorem ipsum dolor sit amet At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
										nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus
										qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
										cupiditate non provident.</p>
								</li>
							</ul>
						</li>
						<li class="item10 mt-sm-4 mt-3 pl-2">
							<a href="#" title="click here">Sed diam nonummy Ut semper nisl ut laoreet ultrices nibh euismod ?</a>
							<ul>
								<li class="subitem1 mt-3">
									<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh
										euismod accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
										quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //faqs -->


	<!-- brands -->
	<div class="brands-w3ls py-md-5 py-4">
		<div class="container py-xl-3">
			<ul class="list-unstyled">
				<li>
					<i class="fab fa-supple"></i>
				</li>
				<li>
					<i class="fab fa-angrycreative"></i>
				</li>
				<li>
					<i class="fab fa-aviato"></i>
				</li>
				<li>
					<i class="fab fa-aws"></i>
				</li>
				<li>
					<i class="fab fa-cpanel"></i>
				</li>
				<li>
					<i class="fab fa-hooli"></i>
				</li>
				<li>
					<i class="fab fa-node"></i>
				</li>
			</ul>
		</div>
	</div>
{% endblock body %}